<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> EHR UoA</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    </head>

    <header>
        <nav>
            <div class="main-warapper">
                <ul>
                    <li><a href="index.php"> Home </a></li>
                    <li><a href="index.php"> Forum </a></li>
                </ul>
                <div class="nav-login">
                    <form>
                        <input type="text" name="usr" placeholder="Username">
                        <input type="password" name="psw" placeholder="Password">
                        <button type="submit" name="submit">Login</button>
                    </form>
                    <a href="signup.php"> Signup </a>
                </div>
            </div>
        </nav>
    </header>
</html> 