
<section class="main-container">
    <div class="main-warapper">
        <h2>Home</h2>
    </div>
</section>

<body>
    <h3>You are logged in</h3>
    <form method="POST">
        <button type="submit" name="logout_btn">Logout</button>
    </form>

    <form method="POST">
        <input type="text" name="title" placeholder="Title">
        <button type="submit" name="publish">Post</button>
        <br>
        <textarea name="content" placeholder="Summury..."></textarea>
    </form>
    <!-- <a href="index.php">Logout</a> -->
<!-- Content of the document...... -->
</body>
