
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/signup.css">
</head>

<section class="main-container">
    <div class="main-warapper">
        <h2>Signup</h2>
        <form class="signup-form" action="includes/signup-inc.php" method="POST" >
            <input type="text" name="first" placeholder="Firstname">
            <input type="text" name="last" placeholder="Lastname">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="uid" placeholder="Your ID">
            <input type="password" name="psw" placeholder="Password">
            <input type="password" name="psw2" placeholder="Repeat Password">
            <input type="text" name="privelage" placeholder="Privelage">
            <input type="int" name="privelage_t" placeholder="Privelage Duration">

            <button type="submit" name="submit">Sign Up</button>
        </form>
    </div>
</section>